.Input-row-label{
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3rem;
    padding: .6rem;
}

.Input{
    height: 2.5rem;
    border: solid 1px grey;
    border-radius: 10rem;
    padding: .4rem;
}
