html{
  font-size: 62.66%;
  overflow-x: hidden;
}

a{
  padding: 0 1rem;
  cursor: pointer;
  text-decoration: none;
}

h1{
  margin: 0;
  padding: 0 0 0 1rem;
  align-self: center;
}

h2{
  align-self: left;
  font-size: 2rem;
  margin: 1rem;
}

.row{
  display: flex;
  flex-direction: row;
}