.ChartD3{
    height: 60vh;
    max-width: 100vw;
    margin-top: 10rem;
}


.bar{
    fill: #c6a9a3;
}

.bar:hover{
    fill: #9a8194;
}

.bottom-axis--txt{
    font-size: 1.4rem;
    font-weight: 600;
    fill: #5b5b5b;
}